.button {
    padding: 0.5rem 0.8rem;
    font-size: 0.825rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    margin-right: 5px;
}
.reply-btn {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    border: 1px solid var(--secondary-color);
}
.add-user-btn{
    margin-bottom: 1rem;
}
.remove-btn,
.cancel-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.cancel-btn {
    font-size: 1rem;
}

.add-btn,
.submit-btn {
    background-color: var(--primary-color);
    font-size: 1rem;
    color: var(--primary-font-color);
}


.action-btn {
    padding: 0;
}

.action-btn select {
    border: none;
    cursor: pointer;
    background-color: var(--button-primary-color);
    color: var(--primary-font-color)
}

.action-btn option {
    background-color: var(--primary-font-color);
    color: var(--secondary-font-color);
}

.actions-btn-cont {
    display: flex;
    justify-content: flex-end;
    gap: 0.625rem;
}

select:disabled {
    background-color: var(--background-blur-color);
}


.paid-btn,
.unpaid-btn {
    color: var(--primary-font-color);
    pointer-events: none;
    font-size: 0.9rem;
}

.paid-btn {
    background-color: rgb(235, 102, 102);
}

.unpaid-btn {
    background-color: rgb(255, 208, 110);
}

button:disabled {
    background-color: var(--background-blur-color);
    filter: brightness(0.5);
    pointer-events: none;
    border: none;
}